/*** UI-KIT ***/

.color {
  margin: 20px 20px;
  display: flex;
  align-items: center;
  height: 100%;
}

.color__primary {
  width: 100px;
  height: 50px;
  margin: 30px 20px;
  background-color: #333;
  border-radius: 4px;
}

.color__secondary {
  width: 100px;
  height: 50px;
  margin: 30px 20px;
  background-color: #343239;
  border-radius: 4px;
}

.color__third {
  width: 100px;
  height: 50px;
  margin: 30px 20px;
  background-color: #c4f2ee;
  border-radius: 4px;
}

.color__fourth {
  width: 100px;
  height: 50px;
  margin: 30px 20px;
  border: 2px solid #f2f2f2;
  background-color: #fff;
  border-radius: 4px;
}

.color__red {
  width: 100px;
  height: 50px;
  margin: 30px 20px;
  background-color: #f03d33;
  border-radius: 4px;
}

.icons {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.icons__color1, .icons__color2 {
  width: 70px;
  height: 50px;
  margin: 30px 20px;
  border-radius: 4px;
}

.icons__text {
  width: 70px;
  height: 50px;
  margin: 30px 20px;
  background-color: #111;
  border-radius: 4px;
}

.icons__textSecondary {
  width: 70px;
  height: 50px;
  margin: 30px 20px;
  background-color: #555;
  border-radius: 4px;
}

.gray1 {
  width: 100px;
  height: 50px;
  margin: 30px 20px;
  background-color: #bababf;
  border-radius: 4px;
}

.gray2 {
  width: 100px;
  height: 50px;
  margin: 30px 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}
/*  color :#343239*/
