//COLORS

$primary: #34333b;
$second:   #e3e1e4;
$third:   #faf9fe;
$fourth:   #c4f2ee;
$red:     #ef3e34; 


$gray-100:#e3e1e4;
$gray-200:   #666;


//TEXT COLOR

$text-default: #111;
$text-second:  #555;

//SIZES TEXT
