//COLORS

$primary: #34333b;
$second:   #e3e1e4;
$third:   #e3e1e4;
$fourth:  #faf9fe;
$fifty:   #c4f2ee;
$red:     #ef3e34; 


$gray-100:#e3e1e4;
$gray-200:   #666;


//TEXT COLOR

$text-deafult: #111;
$text-second:  #555;
