
/***  BUTTONS ***/
.logo {
  background-color: transparent;
}

.btn {
  font-size: rem(16px);
  margin: 5px;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid $text-default;
  background-color: transparent;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: $gray-300;
    border-color: 1px solid $gray-300;
  }
  
  &--icons {
    border: 0;
  }

  &--profile {
    padding: 8px;
    background-color: transparent;
    font-size: rem(22px);
    border: 0;
  }

  &__primary{
    background-color: $primary;
    color: #e3e1e4;
    transition: 0.2s linear;
  }

  &__second {
    background-color: $gray-300;
    color: $gray-100;
    transition: 0.2s linear;
  }

  &__second:hover {
    background-color: $second-hover;
    color: #000;
  }

  &__success {
    background-color: $red;
    color: #f1f1f1;
    transition: 0.2s linear;
  }

  &__success:hover {
    background-color: $red-hover;
    color: $text-default;
  }  
}
//------------
//BUTTONS ICON
//------------



.btn__user {
  display: flex;
  flex-direction: row;
}
