
/***  BUTTONS ***/
.logo {
  background-color: transparent;
}

.btn {
    font-size: 16px;
    padding: 8px 20px;
    margin: 10px;
    color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}
.btn--icons {
  padding: 8px;
  background-color: transparent;
  border: 0;
}

.btn__first{
    background-color: $primary;
    color: #e3e1e4;
    transition: 0.2s linear;
}

.btn__first:hover{
    background-color: #4d4a61;
    color: #111;
}

.btn__second {
    background-color: $second;
    color: #111;
    transition: 0.2s linear;
}

.btn__second:hover {
    background-color: #f3f3f3;
    color: #555;
}

.btn__third {
    background-color: $red;
    color: #f1f1f1;
    transition: 0.2s linear;
}

.btn__third:hover {
    background-color: #fa564d;
    color: $text-second;
}



//BUTTONS ICON
//--------

.input--icon{
  position: relative;
  transition: 0.25s linear;
}

.input--icon svg {
  position: absolute;
  right:0px;
  bottom: 0px;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(102, 102, 102, 0.2);
}

.input--icon svg:hover {
  background-color: rgba(165, 165, 165, 0.5);
}



