
/***  BUTTONS ***/
.logo {
  background-color: transparent;
}

.btn {
  font-size: rem(16px);
  padding: 8px 20px;
  margin: 10px;
  color: $text-default;
  border-radius: 4px;
  border: 1px solid $text-default;
  background-color: transparent;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: $gray-300;
    border-color: 1px solid $gray-300;
  }

  &--icons {
    background-color: transparent;
    border: 0;
  }

  &--profile {
    padding: 8px;
    background-color: transparent;
    color: $text-default;
    font-size: rem(22px);
    border: 0;
  }

  &__first{
    background-color: $primary;
    color: #e3e1e4;
    transition: 0.2s linear;
  }

  &__second {
    background-color: $gray-300;
    color: $gray-100;
    transition: 0.2s linear;
  }

  &__second:hover {
    background-color: $second-hover;
    color: $text-default;
  }

  &__third {
    background-color: $red;
    color: #f1f1f1;
    transition: 0.2s linear;
  }

  &__third:hover {
    background-color: $red-hover;
    color: $text-default;
  }
}
//------------
//BUTTONS ICON
//------------

.input--icon {
  position: relative;
  transition: 0.25s linear;
}

.input--icon svg {
  position: absolute;
  right:0px;
  bottom: 0px;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(102, 102, 102, 0.2);
}

.input--icon svg:hover {
  background-color: rgba(219, 219, 219, 0.5);
}


.btn__user {
  display: flex;
  flex-direction: row;
}
