// CATEGORYS
//---------

.category {

  &__head {
    height: rem(280px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    color: $text-default;
    text-transform: uppercase;
    font-weight: 700; 
  }

  &__line {
    width: 100%;
    margin-bottom: 40px;
    border: 1px solid $text-second;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px 0;
    padding: 0px 160px;
  }
}

//------
// IMG MODEL 3D
//------
.model {
  width: rem(350px);
  height: rem(350px);
  margin: 30px 10px;
  padding:  20px;    
  transition: 0.25s linear;   
}

.model:hover {
  padding: 10px;
  box-shadow: darken($color: #000000, $amount: 0);
}