// CATEGORYS
//---------

.category {

  &__head {
    height: rem(280px);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 0px 235px;
  }

  &__title {
    color: $text-default;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__title--home {
    font-weight: 500;
    padding: 0px 0px 0px 235px;
  }

  &__line {
    width: 100%;
    margin-bottom: 40px;
    border: 1px solid $text-second;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0px 50px;
  }
}

//------
// IMG MODEL 3D
//------
.model {
  width: rem(350px);
  height: rem(350px);
  padding:  15px;
}

.model:hover {
  padding: 20px;
  box-shadow: darken($color: #000000, $amount: 0);
}