/*** FORM  ***/
.container {
  width: 70%;
  display: flex;
  justify-content: center;
}


.form {
  text-align: center;
}

.form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px 0px;
}

.form__group--double {
  display: inline-flex;
}

.form__label {
    padding: 16px 0px;
}

.form__input {
    height: 2.5rem;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #fff;
}
.form__input--icon {
  background-image: url(../../assets/images/Soporte-movil-2.jpg);
  background-position: right;
}

.form__input::placeholder {
    font-size: 20px;
    color: #bababf;
    padding-left: 5px;
}

.form__input:focus {
    border-color: #c4f2ee;
}

.form__input--error {
    border-color: #f03d33;
}

.form__link {
    color: #666;
    text-decoration: #666;
    margin-left: 4px;
}

.form__redirects {
    display: flex;
    align-items: center;
}

.background {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  background:rgba(0,0,0,0.8);
}

