/*** FORM  ***/
.container {
  width: 70%;
  display: flex;
  justify-content: center;
}


.form {
  text-align: center;
}

.form__group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}

.form-row {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  text-align: left;
  
}
.form__label {
  color: #111;
  padding: 5px 0px;
}

.form__input {
    height: 2.5rem;
    font-size: 20px;
    border: 1px solid #111;
    border-radius: 4px;
    background-color: #fff;
    color: #111;
}

.form__input::placeholder {
    font-size: 20px;
    color: #e3e1e4;
    padding-left: 5px;
}

.form__input:focus {
    border-color: #e3e1e4;
}

.form__input--error {
    border-color: #ef3e34;
}

.form__link {
    color: #666;
    text-decoration: #666;
    padding: 5px;
}

.form__redirects {
    display: inline-flex;
    align-items: center;
}

.background {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  background:rgba(0,0,0,0.8);
}

