/*** HEADER  ***/
/*------------*/


.header__container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}


/*** NAVBAR ***/

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34333b;
}

.navbar__categories {
  display: flex;
  align-items: center;
}

.navbar__btn {
  padding: 25px 25px;
  font-size: 20px;
  text-transform: uppercase;
  color: #faf9fe;
  cursor: pointer;
  transition: 0.25s linear;
}

.navbar__btn:hover {
  color: #f1f1f1;
  background-color: #444;
}