/*** HEADER  ***/
/*------------*/

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}

/*** NAVBAR ***/

.navbar {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.navbar__categories {
  display: flex;
  align-items: center;
}

.navbar__btn {
  padding: 25px 35px;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
}

.navbar__btn:hover {
  color: #f1f1f1;
  background-color: #444;
}