/*** HEADER  ***/
/*------------*/

.header__container {
  height: rem(60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}



/*** NAVBAR ***/

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;

  &__categories {
    display: flex;
    align-items: center;
  }

  &__btn {
    padding: 25px 25px;
    font-size: rem(20px);
    text-transform: uppercase;
    color: $third;
    cursor: pointer;
    transition: 0.25s linear;
  }

  &__btn:hover {
    color: $third;
    background-color: $gray-300;
  }

  &__btn--underline {
    border-bottom: 4px solid $gray-200;
  }
}

//-----
// BTNS RIGTH

.btnHeader {
  height: rem(60px);
  display: flex;
  align-items: center;
  justify-content: center;
}



